*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: yellow;
    font-size: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    
    gap: 20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
.hi{
    display: flex;
    width: 1500px;
    background-color: #e5e5e5 ;
    justify-content: space-around;
    height:100vh;
    font-size: 30px;
   align-items: center
}

.intro{
    margin:10% 5%;
}
skills{
    height: 5vh;
    padding: 50px;
    margin: 80px;
    margin-left: 20px;
    background-color: white;
}


.ids{
    height: 100vh;
    background-color: aqua;
    text-align: center;
}
#projects{
    height: 100vh;
    text-align: center;
    font-size: 30px;
    background-color: #e5e5e5;
}
#about{
    height: 100vh;
    background-color: white;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cpy{
    text-align: center;
    padding: 20px ;
    font-size: 20px;
    border-top: 1.5px solid white;
}
    

.hi{
    display: flex;
    justify-content: space-evenly;
}
.body{
    background-color: white;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li> a{
    text-decoration: none;
    margin: 10px;
    color: black;
    
}
header{
 
    background: #e5e5e5;
    height: 10px;
    width: 1500px;
    margin: 0px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
button{
    background-color: red;
    color: white;
}
.botton{
    padding: 10px;
}
.bx-main{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}
.bx{
    background-color: white ;
    color: black;
    border: 1px solid black;
    height:60px;
    width:150px ;
    padding: 10px;
    text-align: center;
}
.sub{
    text-align: center;
    margin-top: 40px;



}
#fruit{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    font-size: 30px;
    padding: bottom;
    line-height: 60px;
    /* padding: 0 200px; */
    /* background-color: red; */
}
a:hover{ 
  color:red;
     
}
footer{
    background-color: #e5e5e5;
}
.box{
    background-color:red;
    text-align: center;
    color:white;
    transform:rotate(-90deg);
    height:50px;
    width: 125px; 
}
.boxs{
    background-color:red;
    color:white;

}
.name{
    background: white;
    color:black;
    border:none;
} 
.id{
    background-color: red;
    padding: 20px;
}
#skills{
    text-align: center;
    font-size: 30px;
    height: 100vh;
    
   
}

#aboutme{
    background-color:white;
    text-align: center;
    padding: 20px;
    
    
}
.skills .skill{
    margin-top: 15px;
    margin: 100hv;
    text-align: center;
    
    
}
.skills .progress{
    background-attachment: #3c3c70;
    border-radius: 25px;
    margin: 50px;
    height:10px;
    margin-top: 50px;
}
.skills .progress-bar{
    height: 10px;
    background-color: purple;
    border-radius: 25px;
}
.ids{
    background-color:red ;
    height:150px;
    padding:20px;
}
.sufu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    border-top:1px solid white;
    text-align: center;
}
.bx-main{
    background-color:white ;
    height: 250px;
    padding: 80px;
    text-align: center;
    margin-top: 80px;
}


.percentage{
    text-align: right;
}
#home{
    height: 100vh;
    
}
.blue{
    display: flex;
    justify-content: space-evenly;
    height: 10px;
    width: 20px;
    padding: 20px;
    text-align: center;
    margin: 150px;
    margin-bottom: 60px;
    gap: 50px;
    
}
