*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    
    gap: 20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
.hi{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    height:100vh;
   align-items: center
}

.intro{
    margin:10% 5%;
}
skills{
    height: 5vh;
    padding: 50px;
    margin: 80px;
    
    background-color: white;
}

.about{
    height: 100vh;
    background-color: gray;
    text-align: center;
    color: white;
}
.ids{
    height: 100vh;
    background-color: aqua;
    text-align: center;
}
.projects{
    height: 100vh;
    text-align: center;
    background-color: white;
}
#about{
    display: flex;
    justify-content: space-between;
    padding: 20 ;
}
.cpy{
    text-align: center;
    padding: 20px 0;
}
    

.hi{
    display: flex;
    justify-content: space-evenly;
}
.body{
    background-color: white;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-evenly;
    
}


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li> a{
    text-decoration: none;
    margin: 10px;
    color: black;
    
}
header{
 
    background: gray;
    height: 50px;
    width: 1500px;
    
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
button{
    background-color: purple;
    color: white;
}
.bx-main{
    display: flex;
    justify-content: space-evenly;
}
.bx{
    background-color: white ;
    color: black;
    border: 1px solid black;
    height:60px;
    width:150px ;
    padding: 10px;
    text-align: center;
}
.sub{
    background-color: white;
    text-align: center;
    margin-top: 40px;



}
#about{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    /* padding: 0 200px; */
    /* background-color: red; */
}
a:hover{ 
  color:red;
     
}
footer{
    background-color: gray;

}
.box{
    background-color:red;
    text-align: center;
    color:white;
    transform:rotate(-90deg);
    height:50px;
    width: 125px;
   
}
.boxs{
    background-color:red;
    color:white;
    transform:rotats(88deg)
}
.name{
    background: white;
    color:black;
    border:none;
} 
.id{
    background-color: red;
    padding: 20px;
}
#skills{
    text-align: center;
}

#aboutme{
    background-color:white;
    text-align: center;
    padding: 20px;
    
    
}
.skills .skill{
    margin-top: 15px;
    margin: 100hv;
    text-align: center;
    
    
}
.skills .progress{
    background-attachment: #3c3c70;
    border-radius: 25px;
    margin: 50px;
    height:10px;
    margin-top: 50px;
}
.skills .progress-bar{
    height: 10px;
    background-color: purple;
    border-radius: 25px;
}
.ids{
    background-color:red ;
    height:150px;
    padding:20px;
}
.img{
    border-top:1px solid white;
    text-align: center;
}
.bx-main{
    background-color:white ;
    height: 150px;
    padding: 20px;
    text-align: center;
}
.main{
    background-color: gray;
    height: 50vh;
    padding:20px;

}
.percentage{
    text-align: right;
}
#home{
    height: 100vh;
    
}
.blue{
    height: 10px;
    width: 20px;
}