*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* section{
    padding-top:2.5rem ;
} */
header{
    background-color: yellow;
    font-size: 20px;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    
    gap: 20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
}
.hi{
    display: flex;
    background-color: #e5e5e5 ;
    justify-content: space-around;
    height:100vh;
    font-size: 30px;
   align-items: center
}

.intro{
    margin:10% 5%;
}
#skills, #techSkills{
    /* height: 5vh; */
    padding: 50px;
    /* margin: 80px; */
    margin-left: 20px;
    margin-right: 0px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#techSkills{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact{
    background: #e5e5e5;
}
#skills{
    background-color: #e5e5e5;
margin: 0;
}
.skills{
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.bx h2{
    font-size:xx-large;
    height: 100px;
}

.ids{
    height: 100vh;
    background-color: aqua;
    text-align: center;
}
#projects{
    height: 93vh;
    text-align: center;
    font-size: 30px;
    background-color: #e5e5e5;
}
#about{
    height: 90vh;
    background-color:#e5e5e5  ;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cpy{
    text-align: center;
    background-color: #e5e5e5 ;
    padding: 20px ;
    font-size: 20px;
    border-top: 1.5px solid white;
}

.bx-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.skillsImage{
    width: 200px;
    height: 200px;
}

.hi{
    display: flex;
    justify-content: space-evenly;
    
}
body{
    /* background-color: white; */
    /* width: 100vw; */
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li a{
    text-decoration: none;
    margin: 10px;
    color: black;
    
}
h1{
    text-align: center;
    background-color: #e5e5e5;
    font-size: 45px;
}
#skills h1{
    width: 90vw;
}
header{
 
    background: #e5e5e5;
    height: 10px;
    width: 100%;
    margin: 0px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
button{
    background-color: red;
    height: 50px;
    color: white;
    justify-content: center;
    margin-left: 100px;
}
.botton{
    padding: 10px;

}
.bx-main{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}
.bx{
    background-color: rgb(255, 140, 0) ;
    color: black;
    margin-top: 20px;
    border-radius: 5px;main
    border: 1px solid rgb(255, 140, 0);
    height:70px;
    width:300px;
    /* padding: 10px 30px; */
    text-align: center;
    box-shadow: #101029 10px 10px 10px ;
}
.sub{
    text-align: center;
    /* margin-top: 40px; */

}
#fruit{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    font-size: 30px;
    padding: bottom;
    line-height: 60px;
    /* padding: 0 200px; */
    /* background-color: red; */
}
a:hover{ 
  color:red;
     
}
footer{
    background-color: #e5e5e5;
}
.box{
    background-color:red;
    text-align: center;
    color:white;
    transform:rotate(-90deg);
    height:50px;
    width: 125px; 
}
.boxs{
    background-color:red;
    color:white;

}
.name{
    background: white;
    color:black;
    border:none;
} 
.id{
    background-color: red;
    padding: 20px;
}
#skills{
    text-align: center;
    font-size: 30px;
    height: 120vh;
   
}

#aboutme{
    background-color:white;
    text-align: center;
    padding: 20px;
    
    
}
.skill{
    margin-top: 15px;
    margin: 100hv;
    width: 500px;
    position: relative;

    /* text-align: center;  */
}
#skills{
    /* width: 100vw; */
}
.skills .progress{
    background-attachment: #3c3c70;
    border-radius: 25px;
    margin: 50px;
    height:10px;
    margin-top: 50px;
    background-color: rgb(0, 1, 1);
}
.skills .progress-bar{
    height: 10px;
    background-color:#ff0000;
    border-radius: 25px;
}
.ids{
    background-color:red ;
    height:150px;
    padding:20px;
}
.sufu{
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: #30303f 0px 0px 10px;
    align-items: center;
    width: 300px;
    height: 250px;
    /* padding: 40px; */
    /* border-radius: 6px; */
}

.sufu:hover{
    transform:scale(1.01);
    transition: transform 0.5s;
    box-shadow: #30303f 0px 0px 20px;

}
.img{
    border-top:1px solid white;
    text-align: center;
}
.bx-main{
    /* background-color:white ; */
    height: 250px;
    /* padding: 80px; */
    text-align: center;

}


.percentage{
    text-align: right;
    position: absolute;
    left: 400px;
    bottom: 50px;
    color:#ff0000;
    font-size: 18px;
   
}
#home{
    height: 100vh;
    
}
.blue{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    margin: 150px;
    margin-bottom: 60px;
    gap: 50px;
}
.blue img{
    height: 20rem;
    width: 20rem;
}
.flex123{
    display: flex;
    justify-content: space-around;
}
.p{
   font-size: 35px;
   line-height: 50px;
   
}


.Lifeskills{
    height: 100vh;
    background-color:  #e5e5e5;
}



.skills h3{
    padding-left: 250px;
    padding-top: 10px;
    margin-top: 10px;
}
.skills h4{
    padding-left: 250px;
  padding-top: 100px;
}
.bx-main{
    background-color: #e5e5e5;
    height: 40vh;
}
.contact-form {
    flex: 0 0 45%;
    margin-top: 13rem;
    margin-right: 6.5rem;
    color: #fff;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: burlywood;
    border: none;
    border-radius: 5px;
    color: #fff;
}
#Englishskills{
  
}
.span12{
    color:#ff0000
}

